# Compiled class files
*.class

# Log files
*.log

# BlueJ files
.bluej/

# IntelliJ IDEA files
*.iml
*.iws
.idea/

# Eclipse files
bin/
target/
.settings/
.classpath
.project

# NetBeans files
nbproject/


# Gradle files
.gradle/
build/

# Package files
*.jar
*.war
*.ear
